# Build artifacts
target/
project/boot/
project/Project

# IDE-specific files
# Adjust these based on your specific IDE
.idea/
.vscode/
.classpath
.project

# OS-specific temporary files
*.log
*.tmp
*.swo

# Compiled Scala classes
*.class

# Test reports
**/target/test_reports/*.html

# SBT specific settings
# (adjust depending on your build configuration)
project/build.properties
project/plugins.sbt

# Potential sensitive files
# (add these if applicable to your project)
*.keystore
*.jks
*.pem
.bsp
/.metals
/.bloop
/project
